* text=auto !eol
artwork/BmpToXpm.exe -text svneol=unset#unset
artwork/TZConnection.bmp -text
artwork/TZConnection.xcf -text svneol=unset#unset
artwork/TZConnectionGroup.bmp -text
artwork/TZConnectionGroup.xcf -text
artwork/TZGroupedConnection.bmp -text
artwork/TZGroupedConnection.xcf -text
artwork/TZIBEventAlerter.bmp -text
artwork/TZIBEventAlerter.xcf -text
artwork/TZPgEventAlerter.bmp -text
artwork/TZPgEventAlerter.xcf -text
artwork/TZQuery.bmp -text
artwork/TZQuery.xcf -text svneol=unset#unset
artwork/TZReadOnlyQuery.bmp -text
artwork/TZReadOnlyQuery.xcf -text svneol=unset#unset
artwork/TZSQLMetadata.xcf -text svneol=unset#unset
artwork/TZSQLMonitor.xcf -text svneol=unset#unset
artwork/TZSQLProcessor.xcf -text svneol=unset#unset
artwork/TZSequence.bmp -text
artwork/TZSequence.xcf -text svneol=unset#unset
artwork/TZSqlMetadata.bmp -text
artwork/TZSqlMonitor.bmp -text
artwork/TZSqlProcessor.bmp -text
artwork/TZStoredProc.bmp -text
artwork/TZStoredProc.xcf -text svneol=unset#unset
artwork/TZTable.bmp -text
artwork/TZTable.xcf -text svneol=unset#unset
artwork/TZUpdateSQL.xcf -text svneol=unset#unset
artwork/TZUpdateSql.bmp -text
artwork/ZeosBanner_small.png -text
artwork/ZeosLogo_small.gif -text
artwork/favicon.ico -text
artwork/lazres.exe -text svneol=unset#unset
artwork/rc.exe -text
artwork/sources/150px-Pg_logo.png -text
artwork/sources/Haettenschweiler[!!-~]Regular.ttf -text
artwork/sources/LogoFirebird.gif -text
artwork/sources/Shablons_red_circle.xcf -text
artwork/sources/Shablons_sql_word.xcf -text
artwork/sources/Shablons_table.xcf -text
artwork/sources/TZConnection.png -text
artwork/sources/arial8.pfb -text
artwork/sources/arialbd8.pfb -text
artwork/sources/arialbi8.pfb -text
artwork/sources/ariali8.pfb -text
artwork/sources/bell.xcf -text
artwork/sources/cylindre.png -text
artwork/sources/letter_z.xcf -text
artwork/sources/sign.png -text
artwork/sources/stock_bell.png -text
build/svnClientAdapter.jar -text
build/svnant.jar -text
build/svnjavahl.dll -text
build/svnjavahl.jar -text
database/images/coffee.bmp -text
database/images/dogs.jpg -text
database/images/horse.jpg -text
database/images/zapotec.bmp -text
documentation/articles/buildingtests/images/callouts/1.PNG -text
documentation/articles/buildingtests/images/callouts/10.PNG -text
documentation/articles/buildingtests/images/callouts/11.PNG -text
documentation/articles/buildingtests/images/callouts/12.PNG -text
documentation/articles/buildingtests/images/callouts/13.PNG -text
documentation/articles/buildingtests/images/callouts/14.PNG -text
documentation/articles/buildingtests/images/callouts/15.PNG -text
documentation/articles/buildingtests/images/callouts/2.PNG -text
documentation/articles/buildingtests/images/callouts/3.PNG -text
documentation/articles/buildingtests/images/callouts/4.PNG -text
documentation/articles/buildingtests/images/callouts/5.PNG -text
documentation/articles/buildingtests/images/callouts/6.PNG -text
documentation/articles/buildingtests/images/callouts/7.PNG -text
documentation/articles/buildingtests/images/callouts/8.PNG -text
documentation/articles/buildingtests/images/callouts/9.PNG -text
documentation/articles/overview/images/Overview001.gif -text
documentation/articles/overview/images/Overview002.gif -text
documentation/articles/overview/images/Overview003.gif -text
documentation/eDE_patches/DocBook/bin/HtmlAsText.exe -text
documentation/fundamentals/Fundamentals[!!-~]of[!!-~]Software[!!-~]Testing.doc -text
documentation/fundamentals/ZeosLib[!!-~]-[!!-~]Getting[!!-~]Started.doc -text
documentation/fundamentals/ZeosLib[!!-~]-[!!-~]Organization[!!-~]and[!!-~]Structure.doc -text
documentation/fundamentals/ZeosLib[!!-~]BTE.doc -text
documentation/howto/Implementing[!!-~]A[!!-~]New[!!-~]Database.odt -text
documentation/images/banner.jpg -text
documentation/images/banner2.jpg -text
documentation/images/zeos_logo.gif -text
examples/blobs/ZBlobs.res -text
examples/controls/ZControlsExample.res -text
examples/dbc/DbcDemo.res -text
examples/design/ZDesignTime.res -text
examples/embedded/data/mysql/time_zone.MYI -text
examples/embedded/data/mysql/time_zone.frm -text
examples/embedded/data/mysql/time_zone_leap_second.MYI -text
examples/embedded/data/mysql/time_zone_leap_second.frm -text
examples/embedded/data/mysql/time_zone_name.MYI -text
examples/embedded/data/mysql/time_zone_name.frm -text
examples/embedded/data/mysql/time_zone_transition.MYI -text
examples/embedded/data/mysql/time_zone_transition.frm -text
examples/embedded/data/mysql/time_zone_transition_type.MYI -text
examples/embedded/data/mysql/time_zone_transition_type.frm -text
examples/embedded/data/zeoslib/people.MYD -text
examples/embedded/data/zeoslib/people.MYI -text
examples/embedded/data/zeoslib/people.frm -text
examples/embedded/share/english/errmsg.sys -text
examples/simple/ZSimple.res -text
lib/firebird/windows/32bit/1.5.3.4870/fbclient15.dll -text
lib/firebird/windows/32bit/1.5.3.4870/fbclientd15.dll -text
lib/firebird/windows/32bit/1.5.3.4870/firebird.msg -text
lib/firebird/windows/32bit/1.5.3.4870/ib_util.dll -text
lib/firebird/windows/32bit/1.5.3.4870/intl/fbintl.dll -text
lib/firebird/windows/32bit/1.5.3.4870/udf/fbudf.dll -text
lib/firebird/windows/32bit/1.5.3.4870/udf/ib_udf.dll -text
lib/firebird/windows/32bit/2.0.0.12710/fbclient20.dll -text
lib/firebird/windows/32bit/2.0.0.12710/fbclientd20.dll -text
lib/firebird/windows/32bit/2.0.0.12710/firebird.msg -text
lib/firebird/windows/32bit/2.0.0.12710/ib_util.dll -text
lib/firebird/windows/32bit/2.0.0.12710/icudt30.dll -text
lib/firebird/windows/32bit/2.0.0.12710/icuin30.dll -text
lib/firebird/windows/32bit/2.0.0.12710/icuuc30.dll -text
lib/firebird/windows/32bit/2.0.0.12710/intl/fbintl.dll -text
lib/firebird/windows/32bit/2.0.0.12710/udf/fbudf.dll -text
lib/firebird/windows/32bit/2.0.0.12710/udf/ib_udf.dll -text
lib/firebird/windows/32bit/2.1.1.17910/fbclient21.dll -text
lib/firebird/windows/32bit/2.1.1.17910/fbclientd21.dll -text
lib/firebird/windows/32bit/2.1.1.17910/firebird.msg -text
lib/firebird/windows/32bit/2.1.1.17910/ib_util.dll -text
lib/firebird/windows/32bit/2.1.1.17910/icudt30.dll -text
lib/firebird/windows/32bit/2.1.1.17910/icuin30.dll -text
lib/firebird/windows/32bit/2.1.1.17910/icuuc30.dll -text
lib/firebird/windows/32bit/2.1.1.17910/intl/fbintl.dll -text
lib/firebird/windows/32bit/2.1.1.17910/udf/fbudf.dll -text
lib/firebird/windows/32bit/2.1.1.17910/udf/ib_udf.dll -text
lib/firebird/windows/32bit/2.5.0.26054/Microsoft.VC80.CRT.manifest -text
lib/firebird/windows/32bit/2.5.0.26054/aliases.conf -text
lib/firebird/windows/32bit/2.5.0.26054/fbclient25.dll -text
lib/firebird/windows/32bit/2.5.0.26054/fbclientd25.dll -text
lib/firebird/windows/32bit/2.5.0.26054/firebird.conf -text
lib/firebird/windows/32bit/2.5.0.26054/firebird.msg -text
lib/firebird/windows/32bit/2.5.0.26054/ib_util.dll -text
lib/firebird/windows/32bit/2.5.0.26054/icudt30.dll -text
lib/firebird/windows/32bit/2.5.0.26054/icuin30.dll -text
lib/firebird/windows/32bit/2.5.0.26054/icuuc30.dll -text
lib/firebird/windows/32bit/2.5.0.26054/intl/fbintl.conf -text
lib/firebird/windows/32bit/2.5.0.26054/intl/fbintl.dll -text
lib/firebird/windows/32bit/2.5.0.26054/msvcp80.dll -text
lib/firebird/windows/32bit/2.5.0.26054/msvcr80.dll -text
lib/firebird/windows/32bit/2.5.0.26054/udf/fbudf.dll -text
lib/firebird/windows/32bit/2.5.0.26054/udf/ib_udf.dll -text
lib/freetds/borland/msdblibd.dll -text
lib/freetds/borland/msdblibr.dll -text
lib/freetds/borland/sybdblibd.dll -text
lib/freetds/borland/sybdblibr.dll -text
lib/freetds/vs2010x64/msdblibd.dll -text
lib/freetds/vs2010x64/msdblibr.dll -text
lib/freetds/vs2010x64/sybdblibd.dll -text
lib/freetds/vs2010x64/sybdblibr.dll -text
lib/freetds/vs2010x86/msdblibd.dll -text
lib/freetds/vs2010x86/msdblibr.dll -text
lib/freetds/vs2010x86/sybdblibd.dll -text
lib/freetds/vs2010x86/sybdblibr.dll -text
lib/mysql/mariadb_client-1.0.0-win32.zip -text
lib/mysql/mariadb_client-1.0.0-win64.zip -text
lib/postgresql/libpq73.dll -text
lib/postgresql/libpq74.dll -text
lib/postgresql/libpq80.dll -text
lib/postgresql/libpq81.dll -text
lib/sqlite/Win32/sqlite3.dll -text
lib/sqlite/Win64/sqlite3-64.dll -text
lib/sqlite/sqlite-3.3.8.so -text
packages/Delphi2005/ZComponent.res -text
packages/Delphi2005/ZComponentDesign.res -text
packages/Delphi2005/ZCore.res -text
packages/Delphi2005/ZDbc.res -text
packages/Delphi2005/ZParseSql.res -text
packages/Delphi2005/ZPlain.res -text
packages/Delphi2005/ZTestAll.bdsproj -text
packages/Delphi2005/ZTestAll.dpr -text
packages/Delphi2007/ZComponent.res -text
packages/Delphi2007/ZComponentDesign.res -text
packages/Delphi2007/ZCore.res -text
packages/Delphi2007/ZDbc.res -text
packages/Delphi2007/ZParseSql.res -text
packages/Delphi2007/ZPlain.drc -text
packages/Delphi2007/ZPlain.res -text
packages/Delphi2007/ZTestAll.dpr -text
packages/Delphi2007/ZTestAll.dproj -text
packages/Delphi2009/ZComponent.res -text
packages/Delphi2009/ZComponentDesign.res -text
packages/Delphi2009/ZCore.res -text
packages/Delphi2009/ZDbc.res -text
packages/Delphi2009/ZParseSql.res -text
packages/Delphi2009/ZPlain.drc -text
packages/Delphi2009/ZPlain.res -text
packages/Delphi2009/ZTestAll.dpr -text
packages/Delphi2009/ZTestAll.dproj -text
packages/Delphi2010/ZComponent.res -text
packages/Delphi2010/ZComponentDesign.res -text
packages/Delphi2010/ZCore.res -text
packages/Delphi2010/ZDbc.res -text
packages/Delphi2010/ZParseSql.res -text
packages/Delphi2010/ZPlain.drc -text
packages/Delphi2010/ZPlain.res -text
packages/Delphi2010/ZTestAll.dpr -text
packages/Delphi2010/ZTestAll.dproj -text
packages/DelphiXE/ZComponent.res -text
packages/DelphiXE/ZComponentDesign.res -text
packages/DelphiXE/ZComponentDesign_Icon.ico -text
packages/DelphiXE/ZComponent_Icon.ico -text
packages/DelphiXE/ZCore.res -text
packages/DelphiXE/ZDbc.res -text
packages/DelphiXE/ZDbc_Icon.ico -text
packages/DelphiXE/ZParseSql.res -text
packages/DelphiXE/ZPlain.drc -text
packages/DelphiXE/ZPlain.res -text
packages/DelphiXE/ZPlain_Icon.ico -text
packages/DelphiXE/ZTestAll.dpr -text
packages/DelphiXE/ZTestAll.dproj -text
packages/DelphiXE2/ZComponent.res -text
packages/DelphiXE2/ZComponentDesign.res -text
packages/DelphiXE2/ZComponentDesign_Icon.ico -text
packages/DelphiXE2/ZComponent_Icon.ico -text
packages/DelphiXE2/ZCore.res -text
packages/DelphiXE2/ZDbc.res -text
packages/DelphiXE2/ZDbc_Icon.ico -text
packages/DelphiXE2/ZParseSql.res -text
packages/DelphiXE2/ZPlain.drc -text
packages/DelphiXE2/ZPlain.res -text
packages/DelphiXE2/ZPlain_Icon.ico -text
packages/DelphiXE2/ZTestAll.dpr -text
packages/DelphiXE2/ZTestAll.dproj -text
packages/DelphiXE3/ZComponent.res -text
packages/DelphiXE3/ZComponentDesign_Icon.ico -text
packages/DelphiXE3/ZComponent_Icon.ico -text
packages/DelphiXE3/ZDbc_Icon.ico -text
packages/DelphiXE3/ZPlain.drc -text
packages/DelphiXE3/ZPlain_Icon.ico -text
packages/DelphiXE3/ZTestAll.dpr -text
packages/DelphiXE3/ZTestAll.dproj -text
packages/DelphiXE4/ProjectGroup18.groupproj -text
packages/DelphiXE4/ZComponent.dpk -text
packages/DelphiXE4/ZComponent.dproj -text
packages/DelphiXE4/ZComponent.res -text
packages/DelphiXE4/ZComponentDesign.dpk -text
packages/DelphiXE4/ZComponentDesign.dproj -text
packages/DelphiXE4/ZComponentDesign.res -text
packages/DelphiXE4/ZComponentDesign_Icon.ico -text
packages/DelphiXE4/ZComponent_Icon.ico -text
packages/DelphiXE4/ZCore.dpk -text
packages/DelphiXE4/ZCore.dproj -text
packages/DelphiXE4/ZCore.res -text
packages/DelphiXE4/ZDbc.dpk -text
packages/DelphiXE4/ZDbc.dproj -text
packages/DelphiXE4/ZDbc.res -text
packages/DelphiXE4/ZDbc_Icon.ico -text
packages/DelphiXE4/ZPackages.inc -text
packages/DelphiXE4/ZParseSql.dpk -text
packages/DelphiXE4/ZParseSql.dproj -text
packages/DelphiXE4/ZParseSql.res -text
packages/DelphiXE4/ZPlain.dpk -text
packages/DelphiXE4/ZPlain.dproj -text
packages/DelphiXE4/ZPlain.drc -text
packages/DelphiXE4/ZPlain.res -text
packages/DelphiXE4/ZPlain_Icon.ico -text
packages/DelphiXE4/ZeosDbo.dsk -text
packages/DelphiXE4/ZeosDbo.groupproj -text
packages/cbuilder12/ZComponent.res -text
packages/cbuilder12/ZCore.res -text
packages/cbuilder12/ZDbc.res -text
packages/cbuilder12/ZParseSql.res -text
packages/cbuilder12/ZPlain.res -text
packages/cbuilder12/ZTestFramework.res -text
packages/delphi7/ZComponent.res -text
packages/delphi7/ZComponentDesign.res -text
packages/delphi7/ZCore.res -text
packages/delphi7/ZDbc.res -text
packages/delphi7/ZParseSql.res -text
packages/delphi7/ZPlain.res -text
packages/delphi7/ZTestAll.cfg -text
packages/delphi7/ZTestAll.dof -text
packages/delphi7/ZTestAll.dpr -text
packages/delphi9/ZComponent.res -text
packages/delphi9/ZComponentDesign.res -text
packages/delphi9/ZCore.res -text
packages/delphi9/ZDbc.res -text
packages/delphi9/ZParseSql.res -text
packages/delphi9/ZPlain.res -text
packages/delphi9/ZTestAll.bdsproj -text
packages/delphi9/ZTestAll.dpr -text
packages/lazarus/ztestall.ico -text
packages/lazarus/ztestall.lrs -text
packages/lazarus/ztestall.manifest -text
packages/lazarus/ztestall.rc -text
src/component/ZComponent.dcr -text
src/parsesql/ZAdoToken.pas -text
test/bugreport/ZTestBugCompADO.pas -text
test/config/Units/formmain.lfm -text
test/config/ZTestConfig.ico -text
test/config/ZTestConfig.res -text
test/external/DUnit.res -text
test/external/DUnitConsts.pas -text
test/external/DUnitExpert.res -text
test/external/DUnitW32.bdsgroup -text
test/external/DUnitW32.bdsproj -text
test/external/DUnitW32.dpr -text
test/external/DUnitW32.res -text
test/external/FastMMMemLeakMonitor.pas -text
test/external/HeidiTestRunner.pas -text
test/external/MemCheck.pas -text
test/external/images/actions_images.bmp -text
test/external/images/dunit.ico -text
test/external/images/dunit16.ico -text
test/external/images/dunit16_new.ico -text
test/external/images/dunit_new.ico -text
test/external/images/list_images.bmp -text
test/external/images/logo.bmp -text
test/external/images/run_images.bmp -text
test/external/images/state_images.bmp -text
test/external/versioninfo.res -text
test/framework/ZMidasTestCase.tlb -text
test/performance/ZTestPerformance.pas -text
zeosbugtemplate/bin/database/TESTDB.FDB -text
zeosbugtemplate/img/zeosbug.ico -text
zeosbugtemplate/src/ZeosBugTemplate.ico -text
zeosbugtemplate/src/ZeosBugTemplate.res -text
zeosbugtemplate/src/uBugTemplate.dfm -text
zeosbugtemplate/src/uBugTemplate.lfm -text
