* text=auto !eol
artwork/BmpToXpm.exe -text svneol=unset#unset
artwork/TZConnection.bmp -text
artwork/TZConnection.png -text svneol=unset#unset
artwork/TZConnection.xcf -text svneol=unset#unset
artwork/TZIBEventAlerter.bmp -text
artwork/TZIBEventAlerter.png -text
artwork/TZIBEventAlerter.xcf -text
artwork/TZQuery.bmp -text
artwork/TZQuery.png -text svneol=unset#unset
artwork/TZQuery.xcf -text svneol=unset#unset
artwork/TZReadOnlyQuery.bmp -text
artwork/TZReadOnlyQuery.png -text svneol=unset#unset
artwork/TZReadOnlyQuery.xcf -text svneol=unset#unset
artwork/TZSQLMetadata.png -text svneol=unset#unset
artwork/TZSQLMetadata.xcf -text svneol=unset#unset
artwork/TZSQLMonitor.png -text svneol=unset#unset
artwork/TZSQLMonitor.xcf -text svneol=unset#unset
artwork/TZSQLProcessor.png -text svneol=unset#unset
artwork/TZSQLProcessor.xcf -text svneol=unset#unset
artwork/TZSequence.bmp -text
artwork/TZSequence.png -text svneol=unset#unset
artwork/TZSequence.xcf -text svneol=unset#unset
artwork/TZSqlMetadata.bmp -text
artwork/TZSqlMonitor.bmp -text
artwork/TZSqlProcessor.bmp -text
artwork/TZStoredProc.bmp -text
artwork/TZStoredProc.png -text svneol=unset#unset
artwork/TZStoredProc.xcf -text svneol=unset#unset
artwork/TZTable.bmp -text
artwork/TZTable.png -text svneol=unset#unset
artwork/TZTable.xcf -text svneol=unset#unset
artwork/TZUpdateSQL.png -text svneol=unset#unset
artwork/TZUpdateSQL.xcf -text svneol=unset#unset
artwork/TZUpdateSql.bmp -text
artwork/ZeosBanner_small.png -text
artwork/ZeosLogo_small.gif -text
artwork/favicon.ico -text
artwork/lazres.exe -text svneol=unset#unset
build/build.cmd -text
build/build.properties -text
build/compiletests.xml -text
build/svnClientAdapter.jar -text
build/svnant.jar -text
build/svnjavahl.dll -text
build/svnjavahl.jar -text
build/test.xml -text
database/images/coffee.bmp -text
database/images/dogs.jpg -text
database/images/horse.jpg -text
database/images/zapotec.bmp -text
database/test.properties -text
documentation/articles/buildingtests/images/callouts/1.PNG -text
documentation/articles/buildingtests/images/callouts/10.PNG -text
documentation/articles/buildingtests/images/callouts/11.PNG -text
documentation/articles/buildingtests/images/callouts/12.PNG -text
documentation/articles/buildingtests/images/callouts/13.PNG -text
documentation/articles/buildingtests/images/callouts/14.PNG -text
documentation/articles/buildingtests/images/callouts/15.PNG -text
documentation/articles/buildingtests/images/callouts/2.PNG -text
documentation/articles/buildingtests/images/callouts/3.PNG -text
documentation/articles/buildingtests/images/callouts/4.PNG -text
documentation/articles/buildingtests/images/callouts/5.PNG -text
documentation/articles/buildingtests/images/callouts/6.PNG -text
documentation/articles/buildingtests/images/callouts/7.PNG -text
documentation/articles/buildingtests/images/callouts/8.PNG -text
documentation/articles/buildingtests/images/callouts/9.PNG -text
documentation/articles/overview/images/Overview001.gif -text
documentation/articles/overview/images/Overview002.gif -text
documentation/articles/overview/images/Overview003.gif -text
documentation/articles/parameters/Parameters.xml -text
documentation/eDE_patches/DocBook/bin/HtmlAsText.exe -text
documentation/fundamentals/Fundamentals[!!-~]of[!!-~]Software[!!-~]Testing.doc -text
documentation/fundamentals/ZeosLib[!!-~]-[!!-~]Getting[!!-~]Started.doc -text
documentation/fundamentals/ZeosLib[!!-~]-[!!-~]Organization[!!-~]and[!!-~]Structure.doc -text
documentation/fundamentals/ZeosLib[!!-~]BTE.doc -text
documentation/images/banner.jpg -text
documentation/images/banner2.jpg -text
documentation/images/zeos_logo.gif -text
examples/blobs/ZBlobs.res -text
examples/controls/ZControlsExample.res -text
examples/dbc/DbcDemo.identcache -text
examples/dbc/DbcDemo.res -text
examples/design/ZDesignTime.res -text
examples/embedded/data/mysql/time_zone.MYI -text
examples/embedded/data/mysql/time_zone.frm -text
examples/embedded/data/mysql/time_zone_leap_second.MYI -text
examples/embedded/data/mysql/time_zone_leap_second.frm -text
examples/embedded/data/mysql/time_zone_name.MYI -text
examples/embedded/data/mysql/time_zone_name.frm -text
examples/embedded/data/mysql/time_zone_transition.MYI -text
examples/embedded/data/mysql/time_zone_transition.frm -text
examples/embedded/data/mysql/time_zone_transition_type.MYI -text
examples/embedded/data/mysql/time_zone_transition_type.frm -text
examples/embedded/data/zeoslib/people.MYD -text
examples/embedded/data/zeoslib/people.MYI -text
examples/embedded/data/zeoslib/people.frm -text
examples/embedded/share/english/errmsg.sys -text
examples/simple/ZSimple.identcache -text
examples/simple/ZSimple.res -text
lib/firebird/windows/32bit/1.5.3.4870/fbclient15.dll -text
lib/firebird/windows/32bit/1.5.3.4870/fbclientd15.dll -text
lib/firebird/windows/32bit/1.5.3.4870/firebird.msg -text
lib/firebird/windows/32bit/1.5.3.4870/ib_util.dll -text
lib/firebird/windows/32bit/1.5.3.4870/intl/fbintl.dll -text
lib/firebird/windows/32bit/1.5.3.4870/udf/fbudf.dll -text
lib/firebird/windows/32bit/1.5.3.4870/udf/ib_udf.dll -text
lib/firebird/windows/32bit/2.0.0.12710/fbclient20.dll -text
lib/firebird/windows/32bit/2.0.0.12710/fbclientd20.dll -text
lib/firebird/windows/32bit/2.0.0.12710/firebird.msg -text
lib/firebird/windows/32bit/2.0.0.12710/ib_util.dll -text
lib/firebird/windows/32bit/2.0.0.12710/icudt30.dll -text
lib/firebird/windows/32bit/2.0.0.12710/icuin30.dll -text
lib/firebird/windows/32bit/2.0.0.12710/icuuc30.dll -text
lib/firebird/windows/32bit/2.0.0.12710/intl/fbintl.dll -text
lib/firebird/windows/32bit/2.0.0.12710/udf/fbudf.dll -text
lib/firebird/windows/32bit/2.0.0.12710/udf/ib_udf.dll -text
lib/firebird/windows/32bit/2.1.1.17910/fbclient21.dll -text
lib/firebird/windows/32bit/2.1.1.17910/fbclientd21.dll -text
lib/firebird/windows/32bit/2.1.1.17910/firebird.msg -text
lib/firebird/windows/32bit/2.1.1.17910/ib_util.dll -text
lib/firebird/windows/32bit/2.1.1.17910/icudt30.dll -text
lib/firebird/windows/32bit/2.1.1.17910/icuin30.dll -text
lib/firebird/windows/32bit/2.1.1.17910/icuuc30.dll -text
lib/firebird/windows/32bit/2.1.1.17910/intl/fbintl.dll -text
lib/firebird/windows/32bit/2.1.1.17910/udf/fbudf.dll -text
lib/firebird/windows/32bit/2.1.1.17910/udf/ib_udf.dll -text
lib/mysql/libmySQL50.dll -text
lib/mysql/libmysql41.dll -text
lib/mysql/libmysql51.dll -text
lib/mysql/libmysqld41.dll -text
lib/mysql/libmysqld50.dll -text
lib/mysql/libmysqld51.dll -text
lib/postgresql/libpq73.dll -text
lib/postgresql/libpq74.dll -text
lib/postgresql/libpq80.dll -text
lib/postgresql/libpq81.dll -text
lib/sqlite/sqlite-3.3.8.so -text
lib/sqlite/sqlite3.dll -text
packages/cbuilder12/ZComponent.res -text
packages/cbuilder12/ZCore.res -text
packages/cbuilder12/ZDbc.res -text
packages/cbuilder12/ZParseSql.res -text
packages/cbuilder12/ZPlain.res -text
packages/cbuilder12/ZTestBugReport.bpf -text
packages/cbuilder12/ZTestComponentAll.bpf -text
packages/cbuilder12/ZTestCoreAll.bpf -text
packages/cbuilder12/ZTestDbcAll.bpf -text
packages/cbuilder12/ZTestFramework.res -text
packages/cbuilder12/ZTestParseSqlAll.bpf -text
packages/cbuilder12/ZTestPerformance.bpf -text
packages/cbuilder6/ZComponent.res -text
packages/cbuilder6/ZCore.res -text
packages/cbuilder6/ZDbc.res -text
packages/cbuilder6/ZParseSql.res -text
packages/cbuilder6/ZPlain.res -text
packages/cbuilder6/ZTestBugReport.bpf -text
packages/cbuilder6/ZTestComponentAll.bpf -text
packages/cbuilder6/ZTestCoreAll.bpf -text
packages/cbuilder6/ZTestDbcAll.bpf -text
packages/cbuilder6/ZTestFramework.res -text
packages/cbuilder6/ZTestParseSqlAll.bpf -text
packages/cbuilder6/ZTestPerformance.bpf -text
packages/cbuilder6/ZeosDbo.bpg -text
packages/delphi10/ZComponent.res -text
packages/delphi10/ZComponentDesign.res -text
packages/delphi10/ZCore.res -text
packages/delphi10/ZDbc.res -text
packages/delphi10/ZParseSql.res -text
packages/delphi10/ZPlain.res -text
packages/delphi10/ZTestFramework.res -text
packages/delphi11/ZComponent.res -text
packages/delphi11/ZComponentDesign.res -text
packages/delphi11/ZCore.res -text
packages/delphi11/ZDbc.res -text
packages/delphi11/ZParseSql.res -text
packages/delphi11/ZPlain.res -text
packages/delphi11/ZTestDbcAll.dproj -text
packages/delphi11/ZTestFramework.res -text
packages/delphi12/ZComponent.res -text
packages/delphi12/ZComponentDesign.res -text
packages/delphi12/ZCore.res -text
packages/delphi12/ZDbc.res -text
packages/delphi12/ZParseSql.res -text
packages/delphi12/ZPlain.res -text
packages/delphi12/ZTestDbcAll.dproj -text
packages/delphi12/ZTestFramework.res -text
packages/delphi7/ZComponent.res -text
packages/delphi7/ZComponentDesign.res -text
packages/delphi7/ZCore.res -text
packages/delphi7/ZDbc.res -text
packages/delphi7/ZParseSql.res -text
packages/delphi7/ZPlain.res -text
packages/delphi7/ZTestFramework.res -text
packages/delphi9/ZComponent.identcache -text
packages/delphi9/ZComponent.res -text
packages/delphi9/ZComponentDesign.res -text
packages/delphi9/ZCore.res -text
packages/delphi9/ZDbc.res -text
packages/delphi9/ZParseSql.res -text
packages/delphi9/ZPlain.res -text
packages/delphi9/ZTestFramework.res -text
packages/kylix3/ZComponent.res -text
packages/kylix3/ZComponentDesign.dpk -text
packages/kylix3/ZComponentDesign.res -text
packages/kylix3/ZCore.res -text
packages/kylix3/ZDbc.res -text
packages/kylix3/ZParseSql.conf -text
packages/kylix3/ZParseSql.dpk -text
packages/kylix3/ZParseSql.kof -text
packages/kylix3/ZParseSql.res -text
packages/kylix3/ZPlain.res -text
packages/kylix3/ZTestFramework.res -text
packages/kylix3/ZeosDbo.bpg -text
packages/lazarus/ztestall.ico -text
packages/lazarus/ztestall.lpi -text
packages/lazarus/ztestall.lpr -text
packages/lazarus/ztestall.lrs -text
packages/lazarus/ztestall.manifest -text
packages/lazarus/ztestall.rc -text
src/component/ZComponent.dcr -text
src/core/ZURL.pas -text
test/core/ZTestURL.pas -text
test/external/DUnit.res -text
test/external/images/actions_images.bmp -text
test/external/images/dunit.ico -text
test/external/images/dunit16.ico -text
test/external/images/dunit16_new.ico -text
test/external/images/dunit_new.ico -text
test/external/images/list_images.bmp -text
test/external/images/logo.bmp -text
test/external/images/run_images.bmp -text
test/external/images/state_images.bmp -text
test/external/versioninfo.res -text
test/framework/ZMidasTestCase.tlb -text
